# Configuration file

####################
# gorrbat
####################

gorrbat {
    S:biomegroups <GORRBAT_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# lenny
####################

lenny {
    S:biomegroups <LENNY_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# lizardman
####################

lizardman {
    S:biomegroups <LIZARDMAN_DEFAULT>
    B:canSpawn=true
    I:frequency=30
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# lizardmanstalker
####################

lizardmanstalker {
    S:biomegroups <LIZARDMANSTALKER_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# lizardmanwitchdoctor
####################

lizardmanwitchdoctor {
    S:biomegroups <LIZARDMANWITCHDOCTOR_DEFAULT>
    B:canSpawn=true
    I:frequency=25
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# mistspider
####################

mistspider {
    S:biomegroups <MISTSPIDER_DEFAULT>
    B:canSpawn=true
    I:frequency=31
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# sacskel
####################

sacskel {
    S:biomegroups <SACSKEL_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# stonegolem
####################

stonegolem {
    S:biomegroups <STONEGOLEM_DEFAULT>
    B:canSpawn=true
    I:frequency=5
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# swampcrab
####################

swampcrab {
    S:biomegroups <SWAMPCRAB_DEFAULT>
    B:canSpawn=true
    I:frequency=31
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


